In [8]:
import pandas as pd

df = pd.read_csv('./hw5-1.csv', dtype={'VET':'category', 'AREA':'category', 'EDUCATION':'category', 'DECISION':'category'})
df

    VET      AREA  YEARS  EDUCATION DECISION
0   yes      tech      5    college    maybe
1    no   finance     13    college   reject
2   yes  clerical     31  secondary   reject
3   yes   finance     33    college     hire
4   yes      tech     23   graduate     hire
5    no      tech     18    college    maybe
6   yes      tech     11  secondary   reject
7   yes      tech     15    college     hire
8   yes      tech     15   graduate   reject
9   yes     sales      5  secondary   reject
10   no     sales     20    college     hire
11   no  clerical      7  secondary    maybe

In [9]:
def cond_prob(df, att_value, class_value):
    att_values = df[att_value].unique()
    counts = df.groupby(att_value)[class_value].value_counts() + 1
    totals = counts.groupby(level=0).sum()
    return counts/totals

class_value = 'DECISION'
cond_prob(df, 'AREA', class_value)

AREA      DECISION
clerical  maybe       0.500000
          reject      0.500000
finance   hire        0.500000
          reject      0.500000
sales     hire        0.500000
          reject      0.500000
tech      hire        0.333333
          maybe       0.333333
          reject      0.333333
Name: DECISION, dtype: float64

In [10]:
#print (df['AREA'].unique())
#print (df['DECISION'].unique())
#print(ind)
def bayes_prob(df, class_val, att_val):
    ind = pd.MultiIndex.from_product([df[class_val].unique(), df[att_val].unique()], names=(class_val, att_val))

    counts = df.groupby(class_val)[att_val].value_counts()
    #counts = counts.index.isin(vals, level=1)
    #print(counts)
    #print(counts.index)
    counts = counts.reindex(ind, fill_value=0)
    #print(counts)
    counts = counts + 1
    #print(counts)
    totals = counts.groupby(level=0).sum()
    #print(totals)

    probs = counts/totals
    frame = { 'counts': counts, 'probs': probs}
    return pd.DataFrame(frame)

bayes_prob(df, 'DECISION', 'AREA')

                   counts     probs
DECISION AREA
maybe    tech           3  0.428571
         finance        1  0.142857
         clerical       2  0.285714
         sales          1  0.142857
reject   tech           3  0.333333
         finance        2  0.222222
         clerical       2  0.222222
         sales          2  0.222222
hire     tech           3  0.375000
         finance        2  0.250000
         clerical       1  0.125000
         sales          2  0.250000

In [11]:
bayes_prob(df, 'DECISION', 'VET')

              counts     probs
DECISION VET
maybe    yes       2  0.400000
         no        3  0.600000
reject   yes       5  0.714286
         no        2  0.285714
hire     yes       4  0.666667
         no        2  0.333333

In [12]:
bayes_prob(df, 'DECISION', 'EDUCATION')

                    counts     probs
DECISION EDUCATION
maybe    college         3  0.500000
         secondary       2  0.333333
         graduate        1  0.166667
reject   college         2  0.250000
         secondary       4  0.500000
         graduate        2  0.250000
hire     college         4  0.571429
         secondary       1  0.142857
         graduate        2  0.285714

In [13]:
import math

def cond_prob(x, mu, std):
    z2 = math.pow(((x-mu)/std),2)
    return math.pow(math.e, (-1/2)*z2)/(math.sqrt(2*math.pi) * std)

def row_prob(row):
    x = 27
    mu = row['mean']
    std = row['std']
    return cond_prob(x, mu, std)
    
def num_prob(df, value, attval, classval):
    stats = df.groupby([classval]).agg({attval:['mean','std']})
    stats.columns = ['mean','std']
    return stats

stats = num_prob(df, 27, 'YEARS', 'DECISION')
print(stats)
stats.apply(row_prob, axis=1)

           mean       std
DECISION
hire      22.75  7.588368
maybe     10.00  7.000000
reject    15.00  9.695360

DECISION
hire      0.044942
maybe     0.002986
reject    0.019129
dtype: float64

In [28]:
import numpy as np
# plus

a1_k = ['b','a']
a1_v = [0.68292683, 0.31707317]
a1_pos = dict(zip(a1_k, a1_v))
   
a2_mu_pos = 33.5502449
a2_std_pos = 13.05922891

a6_k = ['w','q','m','r','cc','k','c','d','x','i','e','aa','ff','j']
a6_v = [0.10116732,0.15953307,0.05836576,0.0077821,0.09727626,0.04280156,0.19066148,0.0233463,0.11673152,0.04280156,0.04669261,0.07003891,0.02723735,0.0155642]
a6_pos = dict(zip(a6_k,a6_v))

a7_k = ['v','h','bb','ff','j','z','o','dd','n']
a7_v = [0.55555556,0.26587302,0.07142857,0.03174603,0.01587302,0.02777778,0.00793651,0.01190476,0.01190476]
a7_pos = dict(zip(a7_k,a7_v))

a8_mu_pos = 3.27406883
a8_std_pos = 3.940369  

a9_k = ['t','f']
a9_v = [0.91967871,0.08032129]
a9_pos = dict(zip(a9_k,a9_v))

a10_k = ['t','f']
a10_v = [0.6746988, 0.3253012] 
a10_pos = dict(zip(a10_k,a10_v))

# NEG
a1_v = [0.69659443,0.30340557]
a1_neg = dict(zip(a1_k, a1_v))
   
a2_mu_neg = 29.43148148
a2_std_neg = 10.65994396

a6_v = [0.09144543,0.07079646,0.0560472,0.00589971,0.03539823,0.09734513,0.18879056,
        0.0560472,0.01769912,0.12094395,0.03539823,0.08259587,0.12094395,0.02064897]
a6_neg = dict(zip(a6_k,a6_v))

a7_v = [0.58982036,0.13173653,0.09580838,0.13173653,0.01497006,0.00898204,0.00299401,0.01497006,0.00898204]
a7_neg = dict(zip(a7_k,a7_v))

a8_mu_neg = 1.06827273
a8_std_neg = 1.71913835 

a9_v = [0.15361446,0.84638554]
a9_neg = dict(zip(a9_k,a9_v))

a10_v = [0.24096386,0.75903614]
a10_neg = dict(zip(a10_k,a10_v))

def predict_it(a1,a2,a6,a7,a8,a9,a10):
    a2_prob = 1
    if a2 is not None:
        a2_prob = cond_prob(a2, a2_mu_pos, a2_std_pos)
    a8_prob = cond_prob(a8, a8_mu_pos, a8_std_pos)
    probs = [a1_pos[a1],a2_prob,a6_pos[a6],a7_pos[a7],a8_prob,a9_pos[a9],a10_pos[a10]]
    print(probs)
    pos_numer = np.prod(np.array(probs))  
    
    a2_prob = 1
    if a2 is not None:
        a2_prob = cond_prob(a2, a2_mu_neg, a2_std_neg)
    a8_prob = cond_prob(a8, a8_mu_neg, a8_std_neg)
    probs = [a1_neg[a1],a2_prob,a6_neg[a6],a7_neg[a7],a8_prob,a9_neg[a9],a10_neg[a10]]
    print(probs)
    neg_numer =  np.prod(np.array(probs))
    return (pos_numer, neg_numer)

In [29]:
predict_it('b',34,'w','v',1.10,'t','f')

[0.68292683, 0.03053057441968337, 0.10116732, 0.55555556, 0.0869499363438994, 0.91967871, 0.3253012]
[0.69659443, 0.034140624548321556, 0.09144543, 0.58982036, 0.23201992233802002, 0.15361446, 0.75903614]

(3.0483719793853955e-05, 3.4701884138394806e-05)

In [30]:
predict_it('b',45,'i','o',0.635,'f','t')

[0.68292683, 0.02080038033480936, 0.04280156, 0.00793651, 0.08090363081067041, 0.08032129, 0.6746988]
[0.69659443, 0.012882098328656876, 0.12094395, 0.00299401, 0.22480519558254233, 0.84638554, 0.24096386]

(2.1156471736141616e-08, 1.4898086555503315e-07)

In [31]:
predict_it('a',None,'i','v',0.100,'f','f')

[0.31707317, 1, 0.04280156, 0.55555556, 0.07319348961104762, 0.08032129, 0.3253012]
[0.30340557, 1, 0.12094395, 0.58982036, 0.1980221166808288, 0.84638554, 0.75903614]

(1.441900806020681e-05, 0.002753416088535377)